<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Cory Proposal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
    <link rel="stylesheet" href="css/pricing-table.css">
  </head>
  <body>
    <!-- Mobile-friendly navbar adapted from example. -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
          data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Cory Proposal</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/proposal">Proposal</a></li>
              <li class="active"><a href="/coryproposal">Cory Proposal</a></li>
              <li><a href="/daylaproposal">Dayla Proposal</a></li>
              <li><a href="/wedding">Wedding</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <!-- We use row-fluid inside containers to achieve a resizable layout. -->
      <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
      <!-- http://stackoverflow.com/a/12270322 -->
      <div class="container">
        <!-- Font and paired font of .heading/.subheading and body from Google Fonts -->
        <!-- www.google.com/fonts/specimen/Ubuntu -->
        <!-- www.google.com/fonts/specimen/Ubuntu#pairings -->
        <div class="row-fluid heading">
          <div class="span12">
            <h1><a href="/">Cory's Proposal</a></h1>
          </div>
        </div>
        <div class="row-fluid subheading">
          <div class="span12">
            <!-- Special typography from Bootstrap for lead paragraph. -->
            <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
            <!-- Add <br /> for breaks -->
            <p class="lead">How I Proposed to my Fiance</p>
            <p>I knew I wanted to marry Dayla for a while before I popped the question. I asked her what was on her Bucket List months before I even knew I wanted to marry her, and jotted a few things down for later reference.
            Once I finally decided she was the one for me, I knew I had to do something unique to make her dreams come true. So I went to her Bucket List. One thing that sounded easy was a hot air ballon ride.
            I had always wanted to go on a balloon ride as well, and mentioned it during our bucket list talk. Then we watched The Great and Powerful Oz starring James Franco and I brought up that we should go on a hot air balloon ride for our anniversary. She thought that was a good idea and the plan to propose took its first form.</p>
            <p>Skip ahead a month or two and it&#8217;s time to get my family&#8217;s thoughts on Dayla and adding her into our family. We went on a family vacation, without Dayla, to Destin, FL around mid June. As the vacation was winding down,
            I talked to my dad about marrying Dayla. I told him about how I didn&#8217;t feel the need to rush anything, but there was also nothing holding me back. He thought that was good and said I was ready.
            Then I went on a walk with my mom. She cried. A lot. But she was also happy for me and said she really liked Dayla and couldn&#8217;t be happier for us. My sisters were easy to talk to. They really like Dayla.
            Who am I kidding? Everyone likes Dayla.</p>
            <p>Then came my least favorite part. Ring shopping. Diamond dealers are worse than car salesmen. But&#8230; since it&#8217;s a big decision, I was stalking the diamond industry for a month or two to
            find the best diamond in my budget. While that was going on I knew the biggest obstacle left was finding a way to ask her father for his blessing. We ended up all going out to the Lake for a weekend and I knew this was the
            best chance to get him one on one without raising too many questions. So I waited. And waited. Mainly it was nerves, because it&#8217;s a very humbling experience to ask a father for his daughter&#8217;s hand in marriage.
            But I kept telling myself there wasn&#8217;t a good time. Then the last night came around and my procrastination came to an end. I looked him square in the eyes and told him I needed to talk to him sometime soon.
            He looked around, saw it was just us two, and said, &#8220;How about now?&#8221; I said, &#8220;sure&#8221; and we walked and I said, &#8220;You probably know what this is about.&#8221; He said he had a good idea and I told him about my feelings for his
            youngest daughter and asked him for Dayla&#8217;s hand in marriage. He said yes and how he always wanted a son-in-law as handsome, smart, and as funny as me. Or something like that. Basically I knew the hard part was done.
            Or so I thought.</p>
            <p>I ended up ordering her ring late September and I picked it up early October. She told me what type of diamond she wanted, in a drunken text almost a year earlier, but I didn&#8217;t know what type of band she wanted.
            The place I got the ring from had a no-questions-asked 30 day return policy. So once I got the ring the clock started. Luckily, I had made a reservation for the balloon ride on Saturday, October 5.
            Then mother nature decided to be very cruel. Saturday rolled around. The temperature was great and the skies were clear. Unfortunately, it was a little windy. So I tried rescheduling the flight for the next
            time that was hot air balloon friendly. Monday seemed fine, but still too windy. Same thing Tuesday. Then the hot air balloon pilot became flakey and didn&#8217;t return my calls. So Tuesday night I was lying awake
            in bed trying to think of a great plan B. It hit me, and I texted my parents &#8220;I have a plan B.&#8221;</p>
            <p>The next couple days flew by. In my limited free time and without raising Dayla&#8217;s suspicion, I reserved both daylagerstner.com and daylagassner.com and forwarded the former to the latter. Then quickly designed a web page
            that was mobile friendly that told her I loved her and &#8220;Would You Marry Me?&#8221; and made that daylagassner.com. Friday morning I decided the time had come, and sprung into action. I wanted an accomplice, so I asked
            my Best Man, Justin, what he was up to that night. I told him about my plan to propose to Dayla that evening and he said he could help. I planned on him taking pictures of the proposal, so I needed a camera.
            My roommate Corey has a nice DSLR and I asked if I could borrow it while he was gone that weekend to take some pictures of the nearby flower garden. He said he&#8217;d put it on Dayla&#8217;s bed before he left. Next, I ordered
            flowers. Now since Dayla rode to work with me in the morning, I had to go pick them up during lunch. Then came back quickly, but my parking spot was gone. I was able to snag a nearby spot but couldn&#8217;t think of a good
            excuse if Dayla asked me why my car was moved. Luckily she didn&#8217;t notice the moved car. She also didn&#8217;t notice the huge bouquet of flowers in the trunk of my Escape either.</p>
            <p>Corey sent me a text around 3 PM while he&#8217;s packing his stuff at the house that he can&#8217;t find his camera battery. I quickly called him and confessed the true reason I needed the camera. He searched the house but to no avail.
            Justin tried getting a decent camera from a co-worker but didn&#8217;t think he would have time. We were left with a point and shoot. He scanned an area near where I told him I wanted to pop the question around 4:30 PM and texts
            me a picture to make sure we&#8217;re on the same page. We are and he hides out next to the house. Dayla and I leave work. On the way, I tell her Justin and Erin are wanting to meet us at the monthly Second Friday Happy
            Hour at Nelson Atkins. I mention I also made dinner reservations for us, but they weren&#8217;t till 8:30 PM so we had some time. Dayla was fine with that and I tell her we should start walking down that way. We leave and I
            text Justin that we left. He texts back saying he&#8217;ll grab the flowers from my car. Crap. I&#8217;d locked my car. My mind is racing and I&#8217;m trying to make small talk with Dayla and I couldn&#8217;t remember the combination
            to my keypad on my door. I text him a couple attempts. Both fail. Finally I tell him my keys are in the house, upstairs in my room. A minute or two later he says he has the flowers and is heading to the spot. I breathe
            a little easier. Unfortunately, Dayla keeps suggesting a quicker route to Nelson Atkins. I tell her that Justin and Erin aren&#8217;t there yet so let&#8217;s just take the long way. Justin texts me that everything is ready and he&#8217;s
            in position. I tell Dayla, &#8220;I got you your anniversary present.&#8221; We come to the path that led to the flowers but I keep walking to a closer, smaller path. Luckily, I see Justin standing creepily in a hat near a tree and veer
            back onto the correct path. We walk a few more steps and I see the flowers. &#8220;Look, I got you some flowers for our anniversary.&#8221; They&#8217;re sitting on the ground next to a bush along the path. &#8220;I also got you another gift for
            our Anniversary&#8230; you&#8217;re very own website!&#8221;, I say. &#8220;Pull it up now, on your phone. Just go to DaylaGerstner.com.&#8221; While she&#8217;s doing that, I see the website is loading and get down on one knee. I can see flashes of light
            around us as Justin takes pictures nearby. I also see that Dayla is crying and I pull out the ring box and ask her the question I&#8217;ve been waiting to ask her, 
            <br />&#8220;Will You Marry Me?.&#8221;</p>
          </div>
        </div>
        <div class="row-fluid heading">
          <div class="span12">
            <h1>Thank you for reading!</h1>
          </div>
        </div>
        <div class="row-fluid section1">
          <div align="center">
            <img class="img-polaroid" alt="Happy" src="https://lh3.googleusercontent.com/-CgBHWKVy6_g/Um7DkfOgy5I/AAAAAAAAAL8/orK8u3fLwO0/w952-h714-no/2013-10-28" width="506" height="380">
          </div>
        </div>
        <!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
        <!-- http://creativecommons.org/licenses/ -->
        <div class="row-fluid footer">
          <div class="span12">
            <p>This work is licensed under
            the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC
            By-SA 3.0
            </a>, without all the cruft that would otherwise be
            put at the bottom of the page.</p>
          </div>
        </div>
      </div>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43006726-1', 'coldam-bitstarter.herokuapp.com');
      ga('send', 'pageview');
      </script>
    </body>
  </html>