<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Dayla Proposal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
    <link rel="stylesheet" href="css/pricing-table.css">
  </head>
  <body>
    <!-- Mobile-friendly navbar adapted from example. -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
          data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Dayla Proposal</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#" id="dLabel">Proposal</a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="/proposal">The Proposal</a></li>
                    <li><a href="/coryproposal">Cory's Perspective</a></li>
                    <li class="active"><a href="/daylaproposal">Dayla's Perspective</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#" id="dLabel">Wedding</a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="/wedding">Wedding Day</a></li>
                    <li><a href="/rsvp">RSVP</a></li>
                    <li><a href="/registry">Registries</a></li>
                    <li><a href="/hotel">Hotel Accommodations</a></li>
                  </ul>
              </li>
              <li><a href="/about">About Us</a></li>
            </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <!-- We use row-fluid inside containers to achieve a resizable layout. -->
      <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
      <!-- http://stackoverflow.com/a/12270322 -->
      <div class="container">
        <!-- Font and paired font of .heading/.subheading and body from Google Fonts -->
        <!-- www.google.com/fonts/specimen/Ubuntu -->
        <!-- www.google.com/fonts/specimen/Ubuntu#pairings -->
        <div class="row-fluid heading">
          <div class="span12">
            <h1><a href="/">Dayla's Proposal</a></h1>
          </div>
        </div>
        <div class="row-fluid subheading">
          <div class="span12">
            <!-- Special typography from Bootstrap for lead paragraph. -->
            <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
            <!-- Add <br /> for breaks -->
            <p class="lead">Our Proposal - Dayla's Perspective</p>
            <p>Cory and I celebrated our two year anniversary on October 8, 2013. He had been trying to plan a balloon ride the previous weekend to kick off another adventurous year in our relationship. Unfortunately, the balloon ride fell through as winds picked up and rain came in for the week. Our anniversary plans were postponed until the following Friday when Cory made an 8:00pm dinner reservation at Michael Smith’s restaurant in Kansas City.</p>
            <p>Excited for a date night and anniversary celebration, I came home from work ready to start the evening. Cory had made plans to meet with Justin and Erin to go to the Young Friends of the Art Second Friday Happy Hour at Nelson-Atkins Art Museum. Since Justin and Erin were ‘running late,’ Cory suggested taking the long way to the museum (only a couple blocks away from our house). Cory grabbed his jacket as there was a chance of rain for the evening, so I grabbed mine too knowing the rain chances were slim as it was still bright and sunny outside.</p>
            <p>As we walked through our neighborhood, and we got past the ‘how was your day?’ question, Cory asked me another small talk question about work. Surprised he had an interest, I explained my answer while he was ‘texting the guys about the Cardinals game.’ After completely finishing my explanation, he said “I’m sorry, what?” *<em>Eye roll</em>* Ok, I get it, there’s a lot riding on this Cardinals game as they get closer to the World Series.</p>
            <p>Our stroll around the museum grounds continued as we discussed where Justin and Erin were going to meet us and which walkway to take to avoid the construction areas. Cory insisted we continue on and make our way through the construction area. As we turned the corner to continue up the beautiful tree-lined walkway along Oak Street, Cory squeezed my hand and told me he had gotten my anniversary gift.  We continued to walk without another word from Cory regarding the gift… the butterflies stirred in my stomach while Cory’s hand began to shake slightly. <em>Could this be?</em></p>
            <p>A few steps further down the path, Cory told me he got me flowers and pointed to a beautiful bouquet of a dozen red roses leaning against the bushes. This is beginning to become an anniversary tradition. He told me to look at the card which said “Just Because.” He then had me pull out my cell phone as he told me he also made me a website.<em> So sweet!</em> I carefully typed in <em>daylagerstner.com</em> as he had instructed- a difficult task as my hands started to shake as well. As I finished typing the address, the URL immediately changed the address to daylagassner.com, confirming the purpose of the butterflies in my stomach and our shaky hands. With tear-filled eyes, I attempted to read the amazing and thought-felt words that appeared on the small screen. As I made my way down to the last four words on the page, “<strong>Will you marry me?</strong>” Cory knelt down and pulled out the most beautiful engagement ring I could imagine! I experienced such a rush of overwhelming love and happiness as tears started streaming down my face and I hugged Cory with all my might! I said ‘yes’ and was so happy for the forever future that Cory and I have to look forward to!</p>
          </div>
        </div>
        <div class="row-fluid heading">
          <div class="span12">
            <h1>Thank you for reading!</h1>
          </div>
        </div>
        <div class="row-fluid section1">
          <div align="center">
            <img class="spotlight" alt="" aria-describedby="fbPhotosSnowliftCaption" aria-busy="false" src="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash3/1394053_666528964907_187995138_n.jpg" style="width: 390px; height: 520px;">
          </div>
        </div>
        <!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
        <!-- http://creativecommons.org/licenses/ -->
        <div class="row-fluid footer">
          <div class="span12">
            <p>This work is licensed under
            the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC
            By-SA 3.0
            </a>, without all the cruft that would otherwise be
            put at the bottom of the page.</p>
          </div>
        </div>
      </div>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43006726-1', 'coldam-bitstarter.herokuapp.com');
      ga('send', 'pageview');
      </script>
    </body>
  </html>